<% layout("/layouts/boilerplate") %>
    <h3>Edit a listings</h3>
    <form  method="POST" action="/listings/<%=listing._id %>?_method=PUT"  novalidate class="needs-validation" enctype="multipart/form-data">
        
        <div class="row">
        <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]"
            value="<%=listing.title%>" 
            type="text"
            class="form-control"
            required
            >
            <div class="valid-feedback">Title looks good!</div>
          </div>
        
          <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input name="listing[description]"  value="<%=listing.description%>" type="text" class="form-control" required>
          </div>
           <div class="mb-3">
            Original Listing Image <br>
            <img src = "<%=  originalImageUrl %>">
        </div> 
         <div class="mb-3">
             <label for="image" class="form-label">Upload New Image</label>
             <input name="listing[image]"   type="file" class="form-control"  >
         </div>
         <div class="row">
          <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]"  value="<%=listing.price%>" type="number" class="form-control" required>
          </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]"  value="<%=listing.country%>" type="text" class="form-control" required>
    </div>
  </div>
      <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required>
      </div>
      <select id="category" name="listing[category]" class="form-select border-black-border">
        <option value="Beachfront">Beachfront</option>
        <option value="Cabins">Cabins</option>
       <option value="Omg">OMG</option>
       <option value="Lake">Lake</option>
        <option value="Design">Design</option>
       <option value="Amazing Pools">Amazing pools</option>
       <option value="Farms">Farms</option>
       <option value="Amazing Views">Amazing views</option> <option value="Rooms">Rooms</option>
       <option value="Lakefront">Lakefront</option>
       <option value="Tiny Homes">Tiny homes</option> <option value="Countryside">Countryside</option> <option value="Treehouse">Treehouse</option>
       <option value="Trending">Trending</option> ..<option value="Tropical">Tropical</option>
       <option value="National Parks">National parks</option>
       <option value="Casties">Casties</option>
       <option value="Camping">Camping</option>
       <option value="Top Of The World">Top of the world</option> <option value="Luxe">Luxe</option>
       <option value="Iconic Cities">Iconic cities</option>
       <option value="Earth Homes">Earth homes</option> </select>
    </select>
        <button class="btn btn-dark edit-btn">Edit</button>
        

    </form>
</body>
</div>
</div>

</html>